@import '@/style/index.less';

.header-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  background: #fff;
  z-index: 20;
  .box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.1));

  &-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 17px;
    color: #000;
    line-height: 44px;
    text-align: center;
    margin: 0;
    padding: 0 70px;
    font-weight: normal;
  }
  .back-btn {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    &-icon {
      margin: 10px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
